@keyframes tonext {
  75% {
    left: 0;
  }
  95% {
    left: 100%;
  }
  98% {
    left: 100%;
  }
  99% {
    left: 0;
  }
}

@keyframes tostart {
  75% {
    left: 0;
  }
  95% {
    left: -300%;
  }
  98% {
    left: -300%;
  }
  99% {
    left: 0;
  }
}

@keyframes snap {
  96% {
    scroll-snap-align: center;
  }
  97% {
    scroll-snap-align: none;
  }
  99% {
    scroll-snap-align: none;
  }
  100% {
    scroll-snap-align: center;
  }
}

body {
  width: 1921px;
  height: 1004px;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
}

* {
  box-sizing: border-box;
  scrollbar-color: transparent transparent; /* thumb and track color */
  scrollbar-width: none;
}

*::-webkit-scrollbar {
  width: 0;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: transparent;
  border: none;
}

* {
  -ms-overflow-style: none;
}

ol, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.carousel {
  width: 100%;
  height: 100%;
  position: relative;
  filter: drop-shadow(0 0 10px #0003);
  perspective: 100px;

  &__viewport {
    width: 1921px;
    height: 1004px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    overflow-x: scroll;
    counter-reset: item;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
  }

  &__slide {
    position: relative;
    //flex-grow, flex-shrink, flex-basis
    flex: 0 0 100%;
    background-image: url("../images/background.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__snapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    scroll-snap-align: center;
  }

  &__content {

    h2 {
      margin-top: 250px;
      margin-bottom: 50px;
      font-size: 88px;
      font-weight: 700;
      line-height: 159.98px;
      text-align: center;
      color: #fff;
    }

    p {
      margin-top: 0;
      font-size: 24px;
      font-weight: 400;
      line-height: 34.99px;
      letter-spacing: 0.02em;
      text-align: center;
      color: #fff;
      align-items: center;
      justify-content: center;
      margin-left: 350px;
      margin-right: 350px;
    }
  }

  @media (hover: hover) {
    &__snapper {
      animation-name: tonext, snap;
      animation-timing-function: ease;
      animation-duration: 4s;
      animation-iteration-count: infinite;
    }

    &__slide:last-child &__snapper {
      animation-name: tostart, snap;
    }
    @media (prefers-reduced-motion: reduce) {
      &__snapper {
        animation-name: none;
      }
    }
  }

  &:hover &__snapper,
  &:focus-within &__snapper {
    animation-name: none;
  }

  &__navigation {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
  }

  &__navigation-list,
  &__navigation-item {
    display: inline-block;
    margin-bottom: 25px;
  }

  &__navigation-button {
    content: '';
    display: inline-block;
    width: 24px;
    height: 24px;
    background-color: #fff;
    background-clip: content-box;
    border: 0.25rem solid transparent;
    border-radius: 50%;
    font-size: 0;
    transition: transform 0.1s;
  }

  &__prev,
  &__next {
    position: absolute;
    top: 70%;
    transform: translateY(-50%);
    width: 70px;
    height: 74px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
    margin: 0 50px 0 50px;
  }

  &__prev {
    left: -1rem;
    background-image: url("../images/arrow.svg");
  }

  &__next {
    right: -1rem;
    background-image: url("../images/arrow.svg");
    transform: rotate(180deg);
  }

  &__prev:active {
    opacity: 0.5;
  }

  &__next:active {
    opacity: 0.5;
  }
}