@import "vars";

%title {
  font-size: 17px;
  font-weight: 700;
  line-height: 22px;
  color: $main_color;
  padding-top: 36px;
  padding-left: 36px;
  margin: 0;
}

@mixin block($width, $height, $color ) {
  margin-top: 16px;
  max-width: $width;

  outline: none;
  height: $height;
  border-style: solid;
  border-radius: 10px;
  border-color: $color;
  border-width: 1px;
  align-content: center;
  padding-left: 36px;
}

%input_text{
  outline: none;
  border: none;
  color: $side_color;
  font-weight: 400;
  font-size: 17px;
  line-height: 22px;
  width: 90%;
}

%real {
  width: 0;
  height: 0;
  opacity: 0;
  position: absolute;
  z-index: -1;
}

%custom {
  position: relative;
  display: inline-block;
  width: 38px;
  height: 38px;
  border-radius: 22px;
  border-style: solid;
  border-color: $side_color;
  border-width: 1px;
  vertical-align: sub;
  transform: translateY(8px)
}

%custom-before {
  content: '';
  display: inline-block;
  width: 26px;
  height: 26px;
  border-radius: 23px;
  background-color: $main_color;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: transform .2s;
}

.main {
  max-width: 1600px;
  padding-left: 50px;
  margin-top: 61px;
  font-family: Arial, serif;

  display: grid;
  grid-template-areas:
  'first_name last_name'
  'email email'
  'password confirm_password'
  'gender hobbies'
  'source_income income'
  'picture age'
  'bio bio'
  'create crate';
  grid-template-columns: repeat(2, minmax(0, 687px));

  grid-template-rows: auto;
  grid-column-gap: 20px;

  &__first-name {
    grid-area: first_name;
    &_title {
      @extend %title;
    }

    &_block {
      @include block(645px, 44px, $side_color);
      .input{
        @extend %input_text;
      }
    }
  }

  &__last-name {
    grid-area: last_name;
    &_title {
      @extend %title;
    }

    &_block {
      @include block(645px, 44px, $side_color);
      .input{
        @extend %input_text;
      }
    }
  }

  &__email {
    grid-area: email;
    &_title {
      @extend %title;
    }

    &_block {
      @include block(100%, 44px, $side_color);
      .input{
        @extend %input_text;
      }
    }
  }

  &__password {
    grid-area: password;
    &_title {
      @extend %title;
    }

    &_block {
      @include block(645px, 44px, $green);
      .input{
        @extend %input_text;
      }
    }
  }

  &__password-confirm {
    grid-area: confirm_password;
    &_title {
      @extend %title;

    }

    &_block {
      @include block(645px, 44px, $red);
      .input{
        @extend %input_text;
      }
    }
  }

  &__gender {
    grid-area: gender;
    padding-left: 36px;

    &_title {
      @extend %title;
      padding-left: 0;
    }

    .real-radio {
      @extend %real;
    }

    .real-radio:focus + .custom-radio::before {
      box-shadow: 0 0 0 8px #FFCBBA;
    }

    .custom-radio {
      @extend %custom;
    }

    .custom-radio::before {
      @extend %custom-before;
    }

    .real-radio:checked + .custom-radio::before {
      transform: translate(-50%, -50%) scale(1);
    }

    .female {
      padding-left: 66px;
    }
  }

  &__hobbies {
    grid-area: hobbies;
    padding-left: 36px;

    display: grid;
    grid-template-areas:'title title title title'
    'area_1 area_2 area_3 area_4';

    &_title {
      grid-area: title;
      @extend %title;
      padding-left: 0;
    }

    .real-checkbox {
      @extend %real;
    }

    .real-checkbox:focus + .custom-checkbox::before {
      border-style: solid;
      border-width: 6px;
      border-radius: 23px;
      border-color: #FFCBBA;
      background-color: #FFCBBA;
    }

    .custom-checkbox {
      @extend %custom;
    }

    .custom-checkbox::before {
      display: inline-block;
      content: '';
      width: 28px;
      height: 28px;
      background-image: url('../images/checkmark.svg');
      background-repeat: no-repeat;
      background-size: contain;

      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%) scale(0);

      transition: transform .2s;
    }

    .real-checkbox:checked + .custom-checkbox::before {
      transform: translate(-50%, -50%) scale(1);
    }

    @for $i from 1 through 4 {
      .main__hobbies_#{$i} {
        grid-area: area_#{$i};
      }
    }
  }

  &__income {
    grid-area: source_income;
    &_title {
      @extend %title
    }

    select {
      @include block(683px, 44px, $side_color);
      width: 100%;
      color: #000;
    }

    .select {
      appearance: none;
      outline: none;
      cursor: pointer;
    }

    &-wrapper {
      max-width: 683px;
      position: relative;
    }

    &-wrapper::before {
      content: '';
      position: absolute;
      top: 85%;
      right: 15px;
      transform: translateY(-50%);
      display: inline-block;
      width: 15px;
      height: 15px;

      background-image: url("../images/chevron-down.svg");
      background-repeat: no-repeat;
      background-size: contain;

      pointer-events: none;
    }

    &-wrapper::after {
      content: '';
      position: absolute;
      top: 30%;
      right: 15px;
      transform: translateY(-50%);
      display: inline-block;
      width: 15px;
      height: 15px;

      background-image: url("../images/chevron-down.svg");
      transform: rotate(180deg);
      background-repeat: no-repeat;
      background-size: contain;

      pointer-events: none;
    }
  }

  &__slider {
    grid-area: income;
    padding-left: 36px;
    display: flex;
    align-items: flex-end;

    &-wrapper {
      position: relative;
      max-width: 470px;
      width: 100%;

      &_title {
        @extend %title;
        padding-left: 0;
        padding-bottom: 10px;
      }
      &:before {
        content: '';
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(35px);
        width: 58.5%;

        height: 6px;
        background-color: $main_color;
        z-index: 1;
        border-radius: 3px;
        border: 1px solid $side_color;
        box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.25);
      }

      #slider {
        -webkit-appearance: none;
        width: 99%;
        height: 2px;
        outline: none;
        border-radius: 99px;
        position: relative;
        z-index: 2;
        background: linear-gradient(to right, #E6E4EA 40%, $main_color 40%);
      }

      #slider::-webkit-slider-thumb {
        -webkit-appearance: none;
        width: 28px;
        height: 28px;
        cursor: pointer;
        z-index: 3;
        position: relative;
        background-color: #fff;
        border: 1px solid #E6E4EA;
        border-radius: 99px;
      }
    }

    &_block {
      transform: translateY(20px);
      margin-left: 37px;
      width: 94px;
      height: 44px;
      border-radius: 10px;
      background-color: $main_color;
      border: 1px solid $side_color;
      text-align: center;
      align-content: center;
      font-size: 17px;
      font-weight: 400;
      line-height: 25px;
      color: #fff;
    }
  }

  &__profile {
    grid-area: picture;
    &_title {
      @extend %title;
      padding-bottom: 16px;
    }

    .button {
      width: 197px;
      height: 44px;
      background-color: #77767E;
      border-radius: 8px;
      border: none;
      text-align: center;
      align-content: center;
      font-size: 17px;
      font-weight: 400;
      line-height: 25px;
      color: #fff;
      cursor: pointer;
    }

    .button:hover {
      box-shadow: 12px 12px 12px rgba(50, 50, 71, 0.08);
    }

    .button:active {
      background-color: $main_color;
    }
  }

  &__age {
    grid-area: age;
    &_title {
      @extend %title;
    }

    &_block {
      @include block(645px, 44px, $side_color);
      color: #000;
      .input{
        @extend %input_text;
      }
    }
  }

  &__bio {
    grid-area: bio;
    &_title {
      @extend %title;
    }

    &_block {
      @include block(100%, 157px, $side_color);
      align-content: start;
      padding-top: 6px;
      position: relative;
      .input{
        @extend %input_text;
      }
      img {
        position: absolute;
        top: 90%;
        left: 98.8%;
      }
    }
  }

  &__create {
    grid-area: create;
    padding-top: 47px;
    justify-self: end;
    grid-column: 2;

    .create_button {
      width: 327px;
      height: 60px;
      background-color: $main_color;
      border-radius: 10px;
      border: 1px solid $side_color;
      font-size: 17px;
      font-weight: 400;
      line-height: 25px;
      text-align: center;
      align-items: center;
      color: #fff;
    }

    .create_button:hover {
      box-shadow: 12px 12px 12px rgba(50, 50, 71, 0.08);
    }

    .create_button:active {
      background-color: #77767E;
    }
  }
}

